html,body {
  margin: 0;
  width: 100%;
  height: 100vh;
}
.slide {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  cursor:pointer;
}

.slide div {
  padding: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  user-select: none;
}
.hide {
  display: none;
}
.app {
  height: 100%;
}